- let menuItems = ["Как получить займ?", "Тарифы", "Реферальная система", "О компании", "Частые вопросы"]

- 
    let sliderItems = [
        {
            title: "Быстрый старт",
            descr: "Вариант, доступный каждому клиенту - как новому, так и тому, кто с нами давно",
            percent: "0,5%",
            loanRange: "5 000 - 25 000 р.",
            src: "../img/card_1.png"
        },
            {
            title: "Набираем обороты",
            descr: "Доступен клиентам, успешно и вовремя закрывшим первый займ",
            percent: "0,4%",
            loanRange: "25 000 - 45 000 р.",
            src: "../img/card_2.png"
        },
        {
            title: "GoldMoney",
            descr: "Доступен постоянным клиентам, успешно погасившим займ 45 000 р.",
            percent: "0,3%",
            loanRange: "от 45 000 р.",
            src: "../img/card_3.png"
        },
    ]

-
    let footerContacts = [
        {
            position: "Поддержка клиентов:",
            value: "8 800 938 48 83",
            note: "Ежедневно с 10:00 до 18:00 по МСК"
        },
        {
            position: "E-mail для вопросов:",
            value: "Getmoney@info.ru",
            note: "Отвечаем в течение 24 часов"
        },
        {
            position: "Рассмотрение заявок",
            value: "Круглосуточно",
            note: "от 5 минут"
        },
    ]

-
    let footerFAQ = ["Как получить займ?", "Тарифы", "Реферальная система", "О компании", "Частые вопросы"]
